<div class="content">
  <div class = "placeholder"></div>
  <div class="clickable">
    <h1> Maze Generator </h1>
    <div>
      Taille :
      <input [(ngModel)]="size[0]" type="number" />
      <input [(ngModel)]="size[1]" type="number" />
      <input [(ngModel)]="size[2]" type="number" />
    </div>
    <div>
      <button (click)="generateMaze()"> Générer </button>
    </div>

    <div> Début :
      <input [(ngModel)]="start[0]" type="number" />
      <input [(ngModel)]="start[1]" type="number" />
      <input [(ngModel)]="start[2]" type="number" />
    </div>

    <div> Fin :
      <input [(ngModel)]="stop[0]" type="number" />
      <input [(ngModel)]="stop[1]" type="number" />
      <input [(ngModel)]="stop[2]" type="number" />
    </div>

    <div>
      <button (click)="updateStartStop()"> Mettre a jour </button>
      <button (click)="findPath()"> Résoudre </button>
    </div>
  </div>
</div>
<app-three-maze [maze]="maze()" [start]="start" [stop]="stop" [path]="path()"> </app-three-maze>